.header_contact{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url(resultbg.jpg);
    /* filter: blur(2px); */
    background-position:center;
    background-size: cover;
    position:relative;
  }
.map {
    margin-top: -33em;
    margin-left:48em;
  }
  .contact {
    color: white;
    font-size: xx-large;
    margin-left: 4em;
  }
  .contact_field {
    font-size: x-large;
    color: white;
    margin-left: 5.2em;
    margin-right: 40em;
  }
  .contact_field input {
    width: 20em;
    height: 3em;
  }
  .card{
    height: 410px;
    margin-top: 1em;
    margin-bottom: auto;
    width: 420px;
    background-color: rgba(0,0,0,0.5) !important;
    }
button {
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20em;
    background-color: rgba(0, 0, 255, 0);
    color: white;
    font-size: 15px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(255, 106, 0);
}
legend {
    text-align: center;
}
fieldset {
    border-color: black;
}